## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cabo San Lucas,MX,22.89,-109.91,86.00,58,90,9.17,overcast clouds
1,1,Kodiak,US,57.79,-152.41,60.80,72,1,6.93,clear sky
2,2,Puerto Ayora,EC,-0.74,-90.35,66.99,94,89,4.00,overcast clouds
3,3,Belmonte,BR,-15.86,-38.88,75.20,78,40,10.29,scattered clouds
4,4,Cururupu,BR,-1.83,-44.87,75.42,84,0,4.85,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 1
What is the maximum temperature you would like for your trip? 120

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cabo San Lucas,MX,22.89,-109.91,86.00,58,90,9.17,overcast clouds
1,1,Kodiak,US,57.79,-152.41,60.80,72,1,6.93,clear sky
2,2,Puerto Ayora,EC,-0.74,-90.35,66.99,94,89,4.00,overcast clouds
3,3,Belmonte,BR,-15.86,-38.88,75.20,78,40,10.29,scattered clouds
4,4,Cururupu,BR,-1.83,-44.87,75.42,84,0,4.85,clear sky
5,5,Barrow,US,71.29,-156.79,57.20,71,1,9.17,clear sky
6,6,Yellowknife,CA,62.46,-114.35,64.40,72,75,8.05,broken clouds
7,7,Yarada,IN,17.65,83.27,80.60,94,90,9.17,drizzle
8,8,Nanortalik,GL,60.14,-45.24,47.98,67,0,5.08,clear sky
9,9,Padang,ID,-0.95,100.35,81.50,69,18,3.04,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             695
City                   695
Country                689
Lat                    695
Lng                    695
Max Temp               695
Humidity               695
Cloudiness             695
Wind Speed             695
Current Description    695
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_preferred_cities_df = preferred_cities_df.dropna(axis = 0)
cleaned_preferred_cities_df.count()

Unnamed: 0             689
City                   689
Country                689
Lat                    689
Lng                    689
Max Temp               689
Humidity               689
Cloudiness             689
Wind Speed             689
Current Description    689
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,86.00,overcast clouds,22.89,-109.91,
1,Kodiak,US,60.80,clear sky,57.79,-152.41,
2,Puerto Ayora,EC,66.99,overcast clouds,-0.74,-90.35,
3,Belmonte,BR,75.20,scattered clouds,-15.86,-38.88,
4,Cururupu,BR,75.42,clear sky,-1.83,-44.87,
5,Barrow,US,57.20,clear sky,71.29,-156.79,
6,Yellowknife,CA,64.40,broken clouds,62.46,-114.35,
7,Yarada,IN,80.60,drizzle,17.65,83.27,
8,Nanortalik,GL,47.98,clear sky,60.14,-45.24,
9,Padang,ID,81.50,few clouds,-0.95,100.35,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url  = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,86.00,overcast clouds,22.89,-109.91,Hotel Tesoro Los Cabos
1,Kodiak,US,60.80,clear sky,57.79,-152.41,Best Western Kodiak Inn and Convention Center
2,Puerto Ayora,EC,66.99,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,Belmonte,BR,75.20,scattered clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão
4,Cururupu,BR,75.42,clear sky,-1.83,-44.87,Pousada Través'cia
5,Barrow,US,57.20,clear sky,71.29,-156.79,King Eider Inn
6,Yellowknife,CA,64.40,broken clouds,62.46,-114.35,The Explorer Hotel
7,Yarada,IN,80.60,drizzle,17.65,83.27,"D-26/2, Dolphin Hill,"
8,Nanortalik,GL,47.98,clear sky,60.14,-45.24,"NTS Rooms, Nanortalik"
9,Padang,ID,81.50,few clouds,-0.95,100.35,Mercure Padang

In [10]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 689 entries, 0 to 694
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 689 non-null    object
 1   Country              689 non-null    object
 2   Max Temp             689 non-null    float64
 3   Current Description  689 non-null    object
 4   Lat                  689 non-null    float64
 5   Lng                  689 non-null    float64
 6   Hotel Name           689 non-null    object
dtypes: float64(3), object(4)
memory usage: 63.1+ KB

In [11]:
# cleaned_hotels_df = hotel_df.loc['Hotel Name'].values()
# 7. Drop the rows where there is no Hotel Name.
string_to_NaN_df = hotel_df['Hotel Name'].replace('',np.nan, inplace=True)
string_to_NaN_df

In [12]:
cleaned_hotels_df = hotel_df.dropna(axis = 0)
cleaned_hotels_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,86.00,overcast clouds,22.89,-109.91,Hotel Tesoro Los Cabos
1,Kodiak,US,60.80,clear sky,57.79,-152.41,Best Western Kodiak Inn and Convention Center
2,Puerto Ayora,EC,66.99,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,Belmonte,BR,75.20,scattered clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão
4,Cururupu,BR,75.42,clear sky,-1.83,-44.87,Pousada Través'cia

In [14]:
cleaned_hotels_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 624 entries, 0 to 694
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 624 non-null    object
 1   Country              624 non-null    object
 2   Max Temp             624 non-null    float64
 3   Current Description  624 non-null    object
 4   Lat                  624 non-null    float64
 5   Lng                  624 non-null    float64
 6   Hotel Name           624 non-null    object
dtypes: float64(3), object(4)
memory usage: 39.0+ KB

In [15]:
# 8a. Create the output File (CSV)
import os.path
output_data_file = os.path.join("../Vacation_Search", "WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
cleaned_hotels_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in cleaned_hotels_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = cleaned_hotels_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = cleaned_hotels_df[["Lat", "Lng"]]
max_temp = cleaned_hotels_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))